body{
    
    width: 100%;
    margin: 0;
  padding: 0;
  background-image: url('src/img/LoginWallpaper.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
}

.Box-Login{
    width: 40%;
    padding: 1.3%;
    background: white;
    position: absolute;
    top: 15%;
    left: 20%;
    border-radius: 5px;
    
}

.Box-Login form{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    
}

.Box-Login form input{
    width: 40%;
    margin-bottom: 1.3%;
}

.Box-Login form button{
    width: max-content;
}